{
  "env": {
    "jest": true
  },
  "extends": [
    "@eslint-kit/base",
    "@eslint-kit/node",
    "@eslint-kit/prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off"
  }
}